.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 375px;
    height: 1201px;
    top: 1520px;
    left: 20px;
    gap: 20px;
    Padding: 0px, 20px, 0px, 20px;
    background: #CECECE;
    margin-top: 64px;
    background: rgb(44, 43, 41);
}

.container_sesion {
    display: flex;
    flex-direction: row;
    width: 335px;
    height: 479px;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    background: #FAFAFA;
    background: rgb(245, 164, 3);
}

.container_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80px;
    height: 439px;
}

.container_mainMenu {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    width: 195px;
    height: 439px;
    border-radius: 8px; 
    background: rgba(11, 231, 47, 0.918);     
}
